/* The size of the div controls the size of the graph */


/*
#graph {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
*/

h1 {
    text-align: center;
}